<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Registration </title>

</head>
<body>
  <div style="text-align:center">
<h1>Employee SignUp</h1>
<form action="" method="POST" validate>
    {% csrf_token %}
    <input type="text" name="username" placeholder="usernsme"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="password" name="password1" placeholder="password1"><br>
    <input type="password" name="password2" placeholder="password2"><br>
    <input type="submit">
    <div style="text-align:center">
         <div class="row valign">



    <div class="container">
{{form.as_p}}





</form>
</body>
</html>